**/db.sqlite3
**/__pycache__
**/.DS_Store
**/*.tgz
**/*.tar
**/*-tar.gz
**/.vagrant
**/*.log
**/*.pyc
**/*.class
**/*.jar
**/flashy/target
**/static/admin
**/static/flags
**/static/rest_framework
**/static/django_extensions
**/*.crt
**/*.csr
**/*.key
**/*.pub
**/*.ipynb
**/venv
**/config.env
**/node_modules
**/~*.xlsx
lts/staging/*
lts/final/*
lts/replica/*
lts/final.real/*
lts/final.archived/*
lts/final.files/*
lts/final.started/*
