[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "*"
alive-progress = "*"
requests = "*"
flower = "*"
fastapi = "*"
uvicorn = "*"
celery = {extras = ["redis"], version = "*"}
pytest-celery = "*"
pytest = "*"
fastapi-featureflags = "*"

[dev-packages]

[requires]
python_version = "3.10"
