[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "*"
alive-progress = "*"
requests = "*"
flower = "*"
fastapi = "*"
uvicorn = "*"
celery = {extras = ["redis"], version = "*"}
pytest-celery = "*"
pytest = "*"
fastapi-featureflags = "*"
requests-mock = "*"
prefect = "==2.17.1"
pydantic-settings = "*"
pytest-env = "*"

[dev-packages]
pep8 = "*"
autopep8 = "*"
pytest-server-fixtures = {extras = ["docker"], version = "*"}

[requires]
python_version = "3.11"
