[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "*"
alive-progress = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
pytest = "*"
requests-mock = "*"
prefect = "==2.19.2"
pytest-env = "*"
pydantic = "==2.7"
pydantic-settings = "==2.2.1"
prefect-docker = "*"
prefect-github = "*"

[dev-packages]
pep8 = "*"
autopep8 = "*"
pytest-server-fixtures = {extras = ["docker"], version = "*"}

[requires]
python_version = "3.11"
