
[archiver]
ARCHIVER_SCRATCH_FOLDER = "/storage"
ARCHIVER_TARGET_SIZE_GB = 500

[minio]
MINIO_REGION = "eu-west-1"                        # S3 region
MINIO_RETRIEVAL_BUCKET = "retrieval"              # S3 bucket where datasets are retrieved to
MINIO_LANDINGZONE_BUCKET = "landingzone"          # S3 bucket where datasets are uploaded to  
MINIO_STAGING_BUCKET = "staging"                  # S3 internally used bucket where datasets are staged before moving to storage
MINIO_ENDPOINT = "scopem-openemdata.ethz.ch:9090" # S3 endpoint of storage server
MINIO_URL_EXPIRATION_DAYS = 7

[scicat]
SCICAT_ENDPOINT = "https://scopem-openem.ethz.ch/scicat/backend"
SCICAT_API_PREFIX = "/api/v3" # Route prefix of Scicat instance
SCICAT_DATASETS_API_PREFIX = "/api/v3" # Route prefix of Scicat dataset endpoints
SCICAT_JOBS_API_PREFIX = "/api/v3" # jobs endpoints for jobs endpoints
